.app-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.app-container > * {
  position: relative;
  padding: 3vmin;
}

.container-fluid {
  width: 96vw;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

table .currency-name img {
  width: 24px;
  height: auto;
  margin-right: 0.65em;
  vertical-align: middle;
}

html {
  font-size: 12px;
}

@media (min-width: 650px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 860px) {
  .table-responsive {
    display: table;
  }
}

@media (min-width: 1150px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 19px;
  }
}
